* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus-visible {
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	color: #2b373a;
	background-color: #f5f5f5;
	font-family: "Inter", sans-serif;
}

a,
a:link,
a:visited {
	text-decoration: none;
	display: inline-block;
	transition: all 0.3s;
	color: #2b373a;
}

ul {
	list-style: none;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}
.icon {
	height: 2rem;
	width: 2rem;
	color: #2b373a;
}
