/* 

/////////////
FONT SIZE
=============
---nav-item: 14px
---products-header-title: 20px
---product-info-title: 16px


/////////////

/////////////
COLORS:
---body-background
#f5f5f5
---content-background
#fff
---signature-color
#00d7b3
---text-color
#2b373a
---description-color
#888
---search-box
#f9f9f9
---border-color
#ebebeb
---windows-color
#02adec

---android-color
#3ddc84

*/
